@tailwind base;
@tailwind components;
@tailwind utilities;


.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.date-picker-input {
        @apply appearance-none w-fit lg:text-Regular-Normal-text-2 px-3 py-2 pl-8 border border-Neutral-400 rounded-lg focus:text-neutral-900 focus:border-neutral-900 focus:outline-none text-Regular-Normal-text-2 ;
        background-color: white;
      }

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
	        animation: pulsate-fwd 2s ease-in-out infinite both;
}

 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  
@layer base {
  .tiptap h1 {
    @apply text-2xl ;
  }

  .tiptap h2 {
    @apply text-xl ;
  }

  .tiptap h3 {
    @apply text-lg ;
  }

  .tiptap img {
    @apply w-1/2 mx-auto;
  }
}


@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
